In [1]:
import os
from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError
import pandas as pd
import pyodbc
# import py
os.getcwd()

'/home/aniketh/python_test/test-vnenv'

In [2]:
import pymssql

try:
    # Use 'server=IP:PORT' format
    connection = pymssql.connect(
        server='10.1.80.20',  # Use only the IP, not the port here
        # port=58962,  # Pass the port separately
        user='airflow_testODS',
        password='Simple1994#',
        database='test_ODS'
    )

    cursor = connection.cursor()
    cursor.execute("SELECT count(*) from test_ODS.Files.PO_Peru;")
    row = cursor.fetchone()
    
    if row:
        print("Connection successful", row)

except Exception as e:
    print(f"Error: {e}")

finally:
    connection.close() if 'connection' in locals() else None

Connection successful (162,)

In [6]:
import pymssql
import pandas as pd

try:
    # Connect to the database using pymssql
    connection = pymssql.connect(
        server='10.1.80.20',  # Use only the IP, not the port here
        user='airflow_testODS',
        password='Simple1994#',
        database='test_ODS'
    )

    # SQL query to execute
    query = "SELECT * FROM test_ODS.Files.PO_Peru;"

    # Load the result directly into a DataFrame
    dfsql = pd.read_sql(query, connection)
    
    # Display the first few rows of the DataFrame
    print("Connection successful. Data loaded into DataFrame.")
    dfsql.head()  # Display the first few rows for inspection

except Exception as e:
    print(f"Error: {e}")

finally:
    connection.close() if 'connection' in locals() else None

Connection successful. Data loaded into DataFrame.

/tmp/ipykernel_28845/2838966815.py:17: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dfsql = pd.read_sql(query, connection)

In [7]:
dfsql.head()

,LocalPartNumber,SupplierPartNumber,PurchasePriceUnits,SupplierCode,SupplierName,LocationCode,PurchaseOrderID,PurchaseLineNumber,UnitOfMeasureOrdered,PurchaseOrderDate,CurrencyCode,QtyOrdered,LineAmountOrdered,UnitPrice,DataAreaID,ProductDescription,Source,InsertDateTime,ProductGroup
0,300400003,H01038012M0C9,2.68,0000017PI,MANULI HYDRAULICS (SUZHOU) CO.,CHINA,TH24-038,1.0,Mt,2024-08-01,USD,2400.0,6432.0,2.680,PERU,ROCKMASTER/2SN DN 12,EXCEL,2024-09-11 18:39:20.517,Hydraulic Hoses
1,300400006,H01038025M0C9,4.22,0000017PI,MANULI HYDRAULICS (SUZHOU) CO.,CHINA,TH24-038,2.0,Mt,2024-08-01,USD,280.0,1181.6,4.220,PERU,ROCKMASTER/2SN DN 25,EXCEL,2024-09-11 18:39:20.520,Hydraulic Hoses
2,300600002,H10031012M0C9,5.37,0000017PI,MANULI HYDRAULICS (SUZHOU) CO.,CHINA,TH24-038,3.0,Mt,2024-08-01,USD,450.0,2416.5,5.370,PERU,ROCKMASTER/12 DN 12,EXCEL,2024-09-11 18:39:20.520,Hydraulic Hoses
3,300050001,H10031016M0C9,5.98,0000017PI,MANULI HYDRAULICS (SUZHOU) CO.,CHINA,TH24-038,4.0,Mt,2024-08-01,USD,600.0,3588.0,5.980,PERU,ROCKMASTER/12 DN 16,EXCEL,2024-09-11 18:39:20.523,Hydraulic Hoses
4,300050001,H09073006BC99,1.332,0000017PI,MANULI HYDRAULICS (SUZHOU) CO.,CHINA,TH24-039,1.0,Mt,2024-08-16,USD,150.0,199.8,1.332,PERU,MULTITEX DN 6,EXCEL,2024-09-11 18:39:20.527,Hydraulic Hoses

In [24]:
excel_file_path = '/mnt/z/DWH_IMPORT/test_air_10.xlsx'
dfexcel = pd.read_excel(excel_file_path)

dfexcel.columns.isin(dfsql.columns).size == dfsql.shape[1]-2

True